<ion-content align="right">
<form>
<ion-button slot="start" (click)="onAddProgram()">
  <ion-icon name="add" slot="icon-only"></ion-icon>
</ion-button>
<ion-grid align="right" class="font-weight-bold">
  <ion-row>
    <ion-col sizeLg="8" offsetLg="2" size="12" offset="0">
      <ion-spinner *ngIf="isLoading" align="center" ></ion-spinner>
      <table class="table table-striped" *ngIf="!isLoading">
       <tr *ngFor="let program of loadedPrograms" >
         <td>
           <ion-label align="center" >
             <ion-button fill="clear" (click)="onGoToProgram(program.month,program.year)">
               <ion-icon  size="large"  name="create-outline"></ion-icon>
             </ion-button>
           </ion-label>
         </td>
         <td>
           <ion-label  align="center" >
             <ion-button fill="clear" (click)="onEditProgram(program)">
               <ion-icon color="warning"  size="large" name="build-outline"></ion-icon>
             </ion-button>
           </ion-label>
         </td>
         <td>
           <ion-select okText="إختر" cancelText="إلغاء" [value]="program.status" (ionChange)="onChangeStatus($event,program)">
             <ion-select-option value="enabled" >مفتوح</ion-select-option>
             <ion-select-option value="disabled" >مغلق</ion-select-option>
           </ion-select>
         </td>
         <td>
           <ion-label class="font-weight-bold">
           {{program.hijri}}
         </ion-label>
         </td>
         <td>

           <ion-label align="right" (click)="onShowProgram(program.month,program.year)" class="font-weight-bold">  {{getMonthName(program.month)}} {{program.year}}<span>م</span></ion-label>
         </td>
         <td>
           <ion-label *ngIf="program.status=='enabled'">
             <ion-icon  size="large"  color="success" name="lock-open-outline"></ion-icon>
           </ion-label>
           <ion-label *ngIf="program.status=='disabled'">
             <ion-icon size="large"  color="danger" name="lock-closed-outline"></ion-icon>
           </ion-label>
         </td>

       </tr>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
</form>
</ion-content>