<ion-content>
<form>
<ion-button slot="end" (click)="onAddProgram()">
  <ion-icon name="add" slot="icon-only"></ion-icon>
</ion-button>
<ion-grid>
  <ion-row>
    <ion-col size="10" offset="1">
      <ion-spinner *ngIf="isLoading" ></ion-spinner>
      <table class="table table-striped" *ngIf="!isLoading">
       <tr *ngFor="let program of loadedPrograms">
         <td>
           <ion-label *ngIf="program.status=='enabled'">
             <ion-icon (click)="onGoToProgram(program.month,program.year)" size="large"  color="success" name="lock-open-outline"></ion-icon>
           </ion-label>
           <ion-label *ngIf="program.status=='disabled'">
             <ion-icon (click)="onGoToProgram(program.month,program.year)" size="large"  color="danger" name="lock-closed-outline"></ion-icon>
           </ion-label>
         </td>
         <td>
           <ion-label (click)="onGoToProgram(program.month,program.year)">
             {{program.month}}/{{program.year}}
           </ion-label>
         </td>
         <td><ion-label (click)="onGoToProgram(program.month,program.year)">
           {{program.hijri}}
         </ion-label>
         </td>
         <td>
           <ion-select [value]="program.status" (ionChange)="onChangeStatus($event,program)">
             <ion-select-option value="enabled" >active</ion-select-option>
             <ion-select-option value="disabled" >bloqué</ion-select-option>
           </ion-select>
         </td>
       </tr>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
</form>
</ion-content>