ion-img{
  height: 90px;
  width: 90px;
}
.styledText{
  color: #3171e0;
  font-size: xx-large;
  font-family: 'maghribi';
  font-weight: bolder;

}
.backImages{
//background-image: url("/assets/images/bg1.jpg");
}